/* HEADER */

header{
    background-color: #000106;
    height: 20px;
    width: auto;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 1px 15px rgba(225, 51, 0, 0.4);
    font-family: cormorant, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    position: relative;
    z-index: 1;
}
 
.logo{
    width: 90px;
}

.enlaces{
    display: flex;
    gap: 30px;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.enlaces li a {
    font-size: 20px ;
    text-decoration: none;
    color: #dddddd;
    transition: 0.2s ease;
} 
  
.enlaces li a:hover {
    color: #fff;
    transition: 0.2s ease;
}

#menuBurger, .btnCerrado, .menu {
    display: none;
} 

/* FOOTER */

.plataformas {
    background-color: #000106;
    padding: 20px 0;
    text-align: center;
    color: #ffffff;
    font-family: cormorant, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
  }
  
.plataformas span{
    font-style: italic;
}

.plataformas .redes {
    margin-bottom: 10px;
  }
  
.plataformas .icono {
    color: #ccc;
    margin: 0 12px;
    font-size: 24px;
    transition: color 0.3s ease;
    text-decoration: none;
  }
  
.plataformas .icono.hbo{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0 12px;

    transition: background-color 0.3s ease;
    border-radius: 50%;
}

.plataformas .hbo-icono{
    max-height: 28px;
    max-width: 100%;
    transition: filter 0.3s ease;
    filter: grayscale(1) brightness(0.8);
    display: block;
    margin: auto;
}

.plataformas .icono.hbo:hover .hbo-icono {
    filter: none;
}

.plataformas .icono.ig:hover {
  color: #9a30e1;
}
  
.plataformas .icono.x:hover {
    color: #303030;
}
    
  .plataformas .icono.facebook:hover {
    color: #274a94;
}

.plataformas .icono.yt:hover {
    color: #d10101;
}

@media (min-width: 601px) and (max-width: 1024px){

    .logo {
        height: auto;
    }

    header{
        z-index: 10;
    }

    .oculto{
        display: none;
    }

    .menu{  
        display: block;
        position: absolute;
        right: 20px;
        z-index: 1000;
        color: #fff;
        padding: 10px 15px;
        margin: 5px 0 0 0;
        font-size: 16px;
    }

    #menuBurger{
        display: none;
    }

    #menuBurger:checked ~ .menuAbierto {
        width: 250px;
    }

    #menuBurger:checked ~ .menu {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    .menuAbierto{
        height: 100vh;
        width: 0;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 999;
        background-color: #9e7569;
        overflow-x: hidden;
        transition: 0.5s;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }

    .menuAbierto ul.enlaces{
        list-style: none;
        padding: 0;
        margin: 0;
        flex-direction: column;
        align-items: center;
        width: 100%; 
    }

     .menuAbierto ul.enlaces li {
        display: block;
        width: 100%;
        text-align: center; 
        margin: 10px 0;
    }

    .menuAbierto ul.enlaces li a {
        padding: 5px;
        text-decoration: none;
        font-size: 20px;
        color: #ffffff;
        display: block;
        transition: 0.4s;
    }

    .btnCerrado{
        display: block;
        position: absolute;
        margin: 0;
        margin-bottom: 10px;
        top: 20px;
        right: 25px;
        font-size: 22px;
        color: #ffffff;
        transition: 0.4s;
    }

}

@media (max-width: 600px){

    .logo {
        height: auto;
    }

    header{
        z-index: 10;
    }

    .oculto{
        display: none;
    }

    .menu{  
        display: block;
        position: absolute;
        right: 20px;
        z-index: 1000;
        color: #fff;
        padding: 5px 10px;
        margin: 5px 0 0 0;
        font-size: 16px;
    }

    #menuBurger{
        display: none;
    }

    #menuBurger:checked ~ .menuAbierto {
        width: 150px;
    }

    #menuBurger:checked ~ .menu {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    .menuAbierto{
        height: 100vh;
        width: 0;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 999;
        background-color: #9e7569;
        overflow-x: hidden;
        transition: 0.5s;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
    }

    .menuAbierto ul.enlaces{
        list-style: none;
        padding: 0;
        margin: 0;
        flex-direction: column;
        align-items: center;
        width: 100%; 
    }

     .menuAbierto ul.enlaces li {
        display: block;
        width: 100%;
        text-align: center; 
        margin: 10px 0;
    }

    .menuAbierto ul.enlaces li a {
        padding: 5px;
        text-decoration: none;
        font-size: 20px;
        color: #ffffff;
        display: block;
        transition: 0.4s;
    }

    .btnCerrado{
        display: block;
        position: absolute;
        margin: 0;
        margin-bottom: 10px;
        top: 20px;
        right: 25px;
        font-size: 22px;
        color: #ffffff;
        transition: 0.4s;
    }

}