body{
    background-color:#010101;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    padding: 10px;
    text-align: center;
    margin: 20px;
    margin-bottom: 20px;
    font-size: 35px;
    color: rgb(255, 255, 255);
}

h2{
    font-size: 22px;
    color: rgb(255, 255, 255);
}

h3 {
    font-size: 18px; 
    color: rgb(255, 255, 255);
}

p, li{
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.bloque{
    background-color: rgba(70, 7, 7, 0.301);
    margin: 60px 350px;
    padding: 5px;
    border-radius: 16px;
}

.reinos{
    max-width: auto;
    text-align: center;
    padding: 10px 30px 30px;
    margin: auto;
    font-style: italic;
    font-size: 15px;
}

header{
    background-color: #000106;
    height: 10px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 20px 20px;
    box-shadow: 0 1px 15px rgba(225, 51, 0, 0.4);
}

.logo{
    width: 90px;
}

.enlaces{
    display: flex;
    gap: 30px;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.enlaces li a {
    font-size: 15px ;
    text-decoration: none;
    color: #ccc;
    font-weight: bold;
  }
  
  .enlaces li a:hover {
    color: #fff;
  }

.casa{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 200px;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #000106;
    border-radius: 16px;
}

.imagen_emblema{
    margin-right: 20px;
}

.emblema{
    width: 200px;
    height: auto;
    align-items: center;
}

.texto_casa{
    flex-grow: 1;
    color: #fff;
}

.emblema_lema{
    flex-direction: row;
    margin: 0;
    padding: 5px;
}

.lista{
    list-style: none;
    line-height: 25px;
}

.stark{
    box-shadow: 0 0 16px #a8a8a8;
}

.lannister{
    box-shadow: 0 0 16px #8c0707;
}

.baratheon{
    box-shadow: 0 0 16px #FFD700;
}

.tyrell{
    box-shadow: 0 0 16px #00913f;
}

.martell{
    box-shadow: 0 0 16px #ff8000;
}

.tully{
    box-shadow: 0 0 16px #0c113f;
}

.greyjoy{
    box-shadow: 0 0 16px #3f3f3f;
}

.targaryen{
    box-shadow: 0 0 16px #ad0404;
}

.guardia{
    box-shadow: 0 0 16px #dbdbdb;
}

.caminante{
    box-shadow: 0 0 16px #c0f4ff;
}