body{
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: cormorant, Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}

.fondo{
    position: relative;
    background-image: url('../imagenes/inicio.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.contenido {
    padding: 20px 40px;
    max-width: 70%;
    z-index: 5;
    text-align: center;
    margin: auto;
}

.texto_inicio{
    margin: 10px;
    font-size: 22px;
    color: #9e7569;
}

h1{
    text-align: center;
    margin: 0;
    position: relative;
    font-size: 36px;
    color: #9e7569;
    font-family: felix-titling, Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
}

.subtitulo{
    font-size: 26px;
    padding: 50px 100px;
    font-family: felix-titling, Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
}

.audio{
    display: flex;
    justify-content: center;
}

.caja{
    position: relative;
    background-color: #000106;
    padding: 15px;
    margin: 30px auto 80px auto;
    max-width: 72%;
    border-radius: 16px;
    box-shadow: 0 0 16px rgba(255, 51, 0, 0.5);
    font-size: 20px;
    transition: ease 0.2s;
}

.caja:hover{
    transform: scale(1.1);
}

.caja h3{
    margin-top: 5px;
    font-family: felix-titling, Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    font-size: 18px;
}

.escamas{
    background-image: url('/imagenes/escamas.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    padding-bottom: 30px;
}

@media (min-width: 601px) and (max-width: 1024px) {

    body {
        margin: 0;
        overflow-x: hidden;
    }

    .contenido {
        max-width: 80%;
        padding: 10px;
    }

    .fondo{
        height: 80vh;
    }

    h1 {
        font-size: 26px;
    }

    .audio{
        padding: 20px 0;
    }

    .subtitulo {
        font-size: 24px;
        padding: 10px 50px;
    }

    .texto_inicio {
        padding-top: 10px;
        font-size: 20px;
    }

    .caja h2{
        font-size: 22px;
    }

    .caja p{
        font-size: 18px;
    }
}

@media (max-width: 600px){

    body {
        margin: 0;
        overflow-x: hidden;
    }

    .fondo {
        background-size: cover;
        background-position: center;
        height: 50vh;
    }

    .contenido {
        max-width: 90%;
        padding: 10px;
        margin-top: auto;
    }

    .contenido h1{
        font-size: 28px;
    }

    .texto_inicio {
        padding-top: 10px;
        font-size: 18px;
    }

    .subtitulo{
        padding: 30px 70px;
    }

    .caja{
        margin: 30px auto 50px auto;
    }

    .caja h3{
        font-size: 20px;
    }

    .caja p{
        font-size: 18px;
    }

}