body{
    background-color:#010101;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: cormorant, Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3{
    color: rgb(255, 255, 255);
    font-family: felix-titling, Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
}

h1{
    padding: 10px;
    text-align: center;
    margin: 20px;
    margin-bottom: 20px;
    font-size: 36px;
}

h2{
    font-size: 26px;
}

h3 {
    font-size: 20px; 
}

p, li{
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.bloque{
    background-color: rgba(70, 7, 7, 0.5);
    margin: 60px auto;
    max-width: 50%;
    padding: 5px;
    border-radius: 16px;
}

.reinos{
    text-align: center;
    padding: 10px 30px 30px;
    margin: auto;
    font-style: italic;
    font-size: 22px;
}

.casa{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: 80px auto;
    max-width: 60%;
    background-color: #000106;
    border-radius: 16px;
    overflow: hidden;
    transition: transform 0.4s ease, opacity 0.4s ease;
    gap: 20px;
}

.casa::before{
    content: '';
    position: absolute;
    top: 0%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
        0deg,
        transparent);
    transition: all 0.8s ease;
    opacity: 0;
    z-index: 1; 
}

.casa:hover{
    transform: scale(1.02);
}

.casa:hover::before {
    opacity: 1;
    transform: rotate(-30deg) translateY(100%);
}

.infoSup{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    z-index: 2;
}

.imagen_emblema{
    margin: 0;
    padding: 0;
    z-index: 2;
    flex-shrink: 0;
}

.emblema{
    width: 200px;
    height: auto;
    display: flex;
}

.texto_casa{
    color: #fff;
    z-index: 2;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.texto_casa h2{
    margin-top: 0;
    margin-bottom: 10px;
}

.emblema_lema{
    margin: 0;
    margin-top: auto;
    padding: 5px 0;
    z-index: 2;
}



.personajes-casa{
    width: 100%;
    z-index: 2;
    padding: 0 0 10px 50px ;
}

.lista{
    list-style: none;
    line-height: 25px;
    padding: 0;
    margin: 0;
}

.stark{
    box-shadow: 0 0 16px #a8a8a8;
}

.stark:hover::before {
    background: linear-gradient(0deg, transparent, transparent 30%, rgba(168,168,168,0.5));
}

.lannister{
    box-shadow: 0 0 16px #8c0707;
}

.lannister:hover::before {
    background: linear-gradient(0deg, transparent, transparent 30%, rgba(140,7,7,0.5)); 
}

.baratheon{
    box-shadow: 0 0 16px #FFD700;
}

.baratheon:hover::before {
    background: linear-gradient(0deg, transparent, transparent 30%, rgba(255,215,0,0.5)); 
}

.tyrell{
    box-shadow: 0 0 16px 0px #00913f;
}

.tyrell:hover::before {
    background: linear-gradient(0deg, transparent, transparent 80%, rgba(0,145,63,0.5)); 
}

.martell{
    box-shadow: 0 0 16px #ff8000;
}

.martell:hover::before {
    background: linear-gradient(0deg, transparent, transparent 30%, rgba(255,128,0,0.5)); 
}

.tully{
    box-shadow: 0 0 16px #0c113f;
}

.tully:hover::before {
    background: linear-gradient(0deg, transparent, transparent 30%, rgba(12,17,63,0.5)); 
}

.greyjoy{
    box-shadow: 0 0 16px #3f3f3f;
}

.greyjoy:hover::before {
    background: linear-gradient(0deg, transparent, transparent 30%, rgba(63,63,63,0.5)); 
}

.targaryen{
    box-shadow: 0 0 16px #ad0404;
}

.targaryen:hover::before {
    background: linear-gradient(0deg, transparent, transparent 30%, rgba(173,4,4,0.5)); 
}

.guardia{
    box-shadow: 0 0 16px #dbdbdb;
}

.guardia:hover::before {
    background: linear-gradient(0deg, transparent, transparent 30%, rgba(219,219,219,0.5)); 
}

.caminante{
    box-shadow: 0 0 16px #c0f4ff;
}

.caminante:hover::before {
    background: linear-gradient(0deg, transparent, transparent 30%, rgba(192,244,255,0.5)); 
}

@media (min-width: 601px) and (max-width: 1024px){

    .bloque{
        margin: 40px auto;
    }

    .bloque p{
        font-size: 20px;
        margin: 20px;
        padding: 0;
    }

    .bloque h1{
        font-size: 26px;
        padding: 0;
    }

    .casa{
        max-width: 80%;
        margin: 60px auto;
    }

    .emblema_lema p{
        margin: 10px;
    }

    .imagen_emblema{
        flex-basis: 120px;
        flex-shrink: 0;
    }

    .texto_casa{
        flex-grow: 1;
        min-width: 200px; 
        color: #fff;
    }

    .texto_casa p {
        margin: 10px;
    }

    .texto_casa h2{
        font-size: 24px;
    }
    .texto_casa p, .emblema_lema p, .lista li{
        font-size: 18px;
    }

    .personajes-casa h3{
        margin-top: 0;
    }

}

@media (max-width: 600px){

    .bloque{
        max-width: 75%;
        margin: 40px auto;
    }

    .bloque h1{
        font-size: 30px;
        margin: 16px;
    }

    .bloque p{
        font-size: 20px;
        padding: 0 20px 20px;
    }

    .casa{
        max-width: 70% ;
        gap: 0;
        margin: 60px auto;
    }

    .infoSup{
        display: block;
    }

    .emblema{
        margin: auto;
    }

    .texto_casa h2{
        margin: 20px 0 0;
        font-size: 24px;
    }
    
    .texto_casa p{
        font-size: 18px;
    }

    .emblema_lema{
        padding: 0;
    }

    .personajes-casa{
        padding: 0;
    }

    .personajes-casa li{
        font-size: 18px;
        margin: 10px;
    }

}