body{
    background-color:#010101;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: cormorant, Verdana, Geneva, Tahoma, sans-serif;
}


h1{
    font-size: 36px;
    text-align: center;
    justify-content: center;
    font-family: felix-titling, Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
}

.bloque{    
    background-color: rgba(70, 7, 7, 0.5);
    margin: 60px auto;
    max-width: 60%;
    padding: 5px;
    border-radius: 16px;
}

.intro{
    font-size: 22px;
    font-style: italic;
    text-align: center;
    padding-bottom: 15px;
}

.caja{
    position: relative;
    background-color: #000106;
    padding: 15px;
    margin: 50px auto 60px auto;
    border-radius: 16px;
    font-size: 15px;
    display: flex;
    max-width: 70%;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.4);
    transition: ease 0.3s;
}

.caja:hover{
    background-color: rgba(70, 7, 7, 0.8);
    transform: translateY(-5px);
}

.imagen_episodio{
    margin-right: 20px;
}

.imagen{
    width: 350px;
    height: auto;
    align-items: center;
}

.texto{
    flex-grow: 1;
    color: #fff;
}

.episodio{
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.texto h2{
    font-size: 24px;
    font-family: felix-titling, Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
}

.texto h3{
    font-size: 26px;
    margin-left: 10px;
}

.texto p{
    margin-left: 10px;
    font-size: 18px;
}

@media (min-width: 601px) and (max-width: 1024px){

    .bloque{
        max-width: 70%;
        margin: 50px auto;
    }

    .bloque h1{
        font-size: 26px;
    }

    .intro{
        max-width: 90%;
        margin: 10px auto;
        padding-bottom: 10px;
        font-size: 22px;
    }

    .caja{
        max-width: 85%;
        margin: 5px auto 50px;
    }

    .imagen_episodio{
        margin: auto 15px auto 0;
    }

    .episodio{
        margin: 15px 0;
        bottom: 0;
    }

    .texto h3{
        font-size: 22px;
    }

}

@media (max-width: 600px){
    
    .bloque{
        max-width: 70%;
        margin: 40px auto;
    }

    .bloque h1{
        font-size: 26px;
    }

    .intro{
        max-width: 90%;
        margin: auto;
        font-size: 20px;
    }

    .caja{
        max-width: 75%;
        margin: 5px auto 50px;
        display: block;
    }

    .imagen_episodio{
        margin: auto 15px auto 0;
    }

    .episodio{
        margin: 15px 0;
        bottom: 0;
    }   

    .texto h3{
        font-size: 22px;
    }

    .imagen{
        max-width: 105%;
        margin: auto;
    }
}